
.navbar{
    width: 90%;
    height: 10vh;
}
.navbar .logo{
    color: #002F46;
}
.navbar .logo span{
    margin-left: -5px;
}
.login-btn{
    display: block;
}
@media screen and (max-width : 614px) {
    .login-btn{
        display: none !important;
    }
}